<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjz.mapper.CandStateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wjz.entity.CandState">
        <id column="cand_state_id" property="candStateId" />
        <id column="candidate_id" property="candidateId" />
        <result column="reason_one" property="reasonOne" />
        <result column="reason_two" property="reasonTwo" />
        <result column="inter_time" property="interTime" />
        <result column="retest_time" property="retestTime" />
        <result column="inter_eval" property="interEval" />
        <result column="ass_name" property="assName" />
        <result column="ass_eval" property="assEval" />
        <result column="retest_evaluation" property="retestEvaluation" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cand_state_id,candidate_id, reason_one, reason_two, inter_time, retest_time, inter_eval, ass_name, ass_eval, retest_evaluation, create_user, create_time, update_user, update_time, is_delete
    </sql>
    <update id="updateTime">
        update cand_state set inter_time=#{inter_time} where candidate_id=#{candidate_id}
    </update>
    <update id="updateResult">
        update cand_state set retest_time=#{retest_time},state_number=#{state_number},inter_eval=#{inter_eval} where candidate_id=#{candidate_id}
    </update>
    <update id="updateForward">
        update cand_state set ass_name=#{ass_name},ass_eval=#{ass_eval} where candidate_id=#{candidate_id}
    </update>
    <update id="updateCon">
        update cand_state set retest_evaluation=#{retest_evaluation},state_number=#{state_number} where candidate_id=#{candidate_id}
    </update>

</mapper>
