<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjz.mapper.CandResumeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wjz.entity.CandResume">
        <id column="resume_id" property="resumeId" />
        <id column="candidate_id" property="candidateId" />
        <result column="cand_name" property="candName" />
        <result column="cand_sex" property="candSex" />
        <result column="cand_age" property="candAge" />
        <result column="cand_phone" property="candPhone" />
        <result column="address" property="address" />
        <result column="email" property="email" />
        <result column="job_intent" property="jobIntent" />
        <result column="tec_stack" property="tecStack" />
        <result column="work_exp" property="workExp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        resume_id, candidate_id , cand_name, cand_sex, cand_age, cand_phone, address, email, job_intent, tec_stack, work_exp
    </sql>

</mapper>
