<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjz.mapper.CandidateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wjz.entity.Candidate">
        <id column="candidate_id" property="candidateId" />
        <result column="candidate_name" property="candidateName" />
        <result column="post_name" property="postName" />
        <result column="work_years" property="workYears" />
        <result column="phone" property="phone" />
        <result column="degree" property="degree" />
        <result column="exp_salary" property="expSalary" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        candidate_id, candidate_name, post_name, work_years, phone, degree, exp_salary, create_user, create_time, update_user, update_time, is_delete
    </sql>
    <!-- 查询候选人 -->
    <select id="pageCand" resultType="com.wjz.entity.Candidate">
        select
        t1.candidate_id, t1.candidate_name, t1.post_name, t1.work_years,
        t1.phone, t1.degree, t1.exp_salary, t1.create_user, t1.create_time, t1.update_user,
        t1.update_time
        from
        candidate t1
        inner join
        cand_state t2
        on
        t1.candidate_id = t2.candidate_id
        and t1.is_delete = 0
        <if test="wq!=null">
            ${wq.customSqlSegment}
        </if>
    </select>

</mapper>
