<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjz.mapper.ResumeMapper">

    <select id="queryResumeByIdCard" resultType="com.wjz.entity.Resume">
        select id as id from resume where identity_card_number = #{identityCardNumber}
    </select>

    <update id="updateIsDeleteById">
        update resume set is_delete = '1' where id = #{id}
    </update>

    <update id="pushResume">
        update resume set url=#{resumeUrlName},sup_id=#{sup_id},is_push=#{isPush}, status = #{status}
        where id=#{id}
    </update>

    <insert id="insertReturnId">
        insert into resume(suggest_date,project,work_year,candidate_name,position_name,phone,education,salary_expectation,resume_contact_person,url,is_delete,create_user,create_time,update_user,update_time,identity_card_number,is_push)
        values(#{suggestDate}, #{project},#{workYear},#{candidateName},#{positionName},#{phone}, #{education}, #{salaryExpectation}, #{resumeContactPerson}, #{url}, #{isDelete},#{createUser},#{createTime},#{updateUser},#{updateTime},#{identityCardNumber},#{isPush})
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="selectStatusById" resultType="java.lang.Integer">
        select status from resume where id = #{id}
    </select>
</mapper>
